tmp/**/*
tmp/*
log/*.*
db/*.sqlite3
db/*.sql
db/schema.rb
config/database.yml
*.swp
*~
.loadpath
.project
.DS_Store
cache/views/*
test/fixtures/settings.yml
doc/api
doc/app
tmp/restart.txt
.autotest
mkmf.log
.rvmrc
config/mongrel_cluster.yml
data
public/javascripts/all.js
public/stylesheets/cache/*
public/stylesheets/site.css
public/javascripts/cache/*
public/javascripts/app.js
public/data
public/uploads
public/system
