<div class="prepend-1 append-1">
  <h1>
    <%= link_to "Dilekçeler ve Sözleşmeler", root_path %>
  </h1>
  <div id="subheader">
    <h3 class="alt">Dilekçe, Sözleşme, İhtarname ve İbraname Örnekleri</h3>
  </div>
  <hr />
  
  <% if false %>
  <!-- menu -->
  <div id="menu_container">
    <%= render "shared/menu" %>
  </div> <!-- #menu biter -->
  <% end %>
</div>
