<% if flash[:notice] or flash[:error] %>
  <div id="notification">
    <% if flash[:notice] %>
      <p class="success"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </div><!-- #notification biter -->
<% end %>
